{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}


{% block body %}
	{# Carga modal en caso de haber mensajes para mostrar #}


	<div
		class="container-fluid">

		<!-- ========== Top Bar Start ========== -->
		{% include 'Secure/navbar.html.twig' %}
		<!-- Top Bar End -->
	</div>
	<div class="container">
		{% if breadcrumbs is defined %}
			{% include 'Secure/breadcrumbs.html.twig' %}
		{% endif %}
		{% for message in app.flashes('message') %}
			{% include 'Secure/alert.html.twig' %}
		{% endfor %}
		{% block content %}{% endblock %}

	</div>


{% endblock %}
